.alert {
    position: fixed;
    top: 60px;
    /* right: 45vw; */
    width: 300px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .alert button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  